<nav class="px-8 py-4 flex flex-wrap items-center shared_navbar shadow-sm">
  <div class="flex text-center text-xl font-semibold items-center w-full justify-between">
    <%= link_to root_path do %>
      <h1>Compas</h1>
    <% end %>
    <div>

      <table class="fixed">
        <tbody>
          <tr class="expandable text-base">
          </tr>
          <tr class="expandable text-base">
          </tr>
          <tr class="expandable text-base">
            <td><%= link_to 'Log out', destroy_user_session_path %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</nav>
