<% @scrollbutton = false %>
<% @foot = false %>
<div class="w-full h-screen lg:h-full text-center">
    <div class="p-5 bg-cover" style="background-image:url('https://images.unsplash.com/photo-1469474968028-56623f02e42e')">

    <h1 class="text-4xl md:text-6xl text-white m-20 ">WELCOME TO COMPAS</h1>
    <p class="text-md md:text-xl mt-20 text-white">At Compas, we help you with your ideal vacation location <br>
       and find
      friends to share your journey! <br>
      <br>
       Try our quiz to find your next destination!</p>
    <%= link_to new_quiz_path do %>
      <p class="btn btn-primary text-white text-md md:text-xl m-20 py-5 px-10">Take the quiz</p>
    <% end %>
    <h2 class="text-lg md:text-3xl m-10 md:m-20 text-white">A place where you can find a travel companion</h2>
  </div>
</div>
